.details{
    display: flex;
}

@media (max-width: 50%) {
    .details {
        flex-direction: column;
        align-items: center;
    }
}
.half-screen {
    display: flex;
}

.half-screen > :first-child {
    flex: 1;
    height: 95vh;
    padding: 20px; /* adjust as needed */
    border: 1px solid #000; /* adjust as needed */
    border-radius: 0 10px 10px 0; /* adjust as needed */
  }
  
  .half-screen > :last-child {
    flex: 1;
    height: 95vh;
    padding: 20px; /* adjust as needed */
    border: 1px solid #000; /* adjust as needed */
    border-radius: 10px 0 0 10px; /* adjust as needed */
  }
.centered-title {
    text-align: center;
    color: lightgrey;
}