.home{
    width: 30%;
    padding-top: 35vh;
    margin-left: 35vw;
}

.register{
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}

.register a{
    width: 150px;
}