

.title{
   text-align: center;
   background-color: aqua;
}


.main{
  padding: 0 20px;
}

input{
  width: 30vw;
  border-radius: 10px;
  border: none;
}

button{
  padding: 1px 10px;
  background-color: lightskyblue;
  border: none;
  border-radius: 10px;
}